node_modules
dist
test-results
playwright-report
*.log
.DS_Store
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
